#products-container,
#general-form,
#files-container {
    border: 1px solid #706e6e;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

#add-button,
#add-file-button,
#save-button {
    width: 100%;
    margin-bottom: 0.8rem;
    background-color: #09970f;
    font-weight: bold;
}

#save-button {
    margin-top: 20px;
}

.fornecedor label {
    margin-bottom: 0;
    font-weight: bold;
}

.container label {
    font-weight: bold;
}

h2 {
    text-align: center;
}

h5 {
    color: white;
    text-align: left;
    background-color: #1d83a7;
    padding: 10px;
    margin-top: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.file-eye-icon {
    font-size: 100px;
}

.round-div {
    border-radius: 50%;
    overflow: hidden;
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    background-color: #8392cc;
}

.round-div img {
    width: 70px;
    height: 70px;
    padding: 5px;
}

.titulo-produto {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

/* .bordered-section {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
} */

.product-row {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.remove-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

